* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

#cover{
    background-image: url("../img/wedding.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    position: relative;
    height: 100vh;
    overflow: hidden;  
}

.img-l-top{
    position: absolute;
    left: -150px;
    top: -75px;
}
.img-r-top{
    position: absolute;
    right: -150px;
    top: -75px;
    transform: scaleX(-1);
    
}
.img-l-bottom{
    position: absolute;
    left: -150px;
    bottom: -75px;
    transform: scaleY(-1);
}
.img-r-bottom{
    position: absolute;
    right: -150px;
    bottom: -75px;
    transform: scale(-1, -1);
}
#cover-text{
    text-align: center;
    margin-top: 300px;
    color: #fff;
}
button {
  --color: #560bad;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 50px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}

button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

button:hover {
  color: #fff;
}

button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

button:hover:before {
  top: -30px;
  left: -30px;
}

button:active:before {
  background: #3a0ca3;
  transition: background 0s;
}


