#timeline {
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
    width: 90%;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
.container.left {
    right: 2%;
}
.container.right {
    left: 48%;
}
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}


.container.left .content {
    margin-left: auto;
}
.container.right .content {
    margin-right: auto;
}
.content h3 {
    margin: 0;
    color: #fff;
    font-size: 24px;
}
.content p {
    margin: 10px 0;
    color: #fff;
    line-height: 1.5;
}
.content img {
    max-width: 30%;
    height: 20%;
    margin-top: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.storycoy{
    background-color:   #1e1e1e;
    margin: 0px;
}

* {
    margin: 0px;
}