
.wedding-section {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    color: #f2f2f2;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    padding: 20px;
    gap: 50px;
}

.bride-section, .groom-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 20px;
}

.image {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.text-section {
    max-width: 400px;
    text-align: left;
}

.side-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #e6e6e6;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}

.name {
    font-size: 28px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
    color: #f2f2f2;
}

.description {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.6;
}

.instagram {
    font-size: 14px;
    color: #e6b089;
}

.separator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 40px 0;
}

.star {
    width: 40px;
    height: 40px;
    background-image: url('star.png');
    background-size: cover;
}

.separator:before,
.separator:after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #e6e6e6;
    margin: 0 20px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: auto;
    z-index: 1000;
}


.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.navbar i {
    margin-right: 8px;
}
.navbar i {
    margin-right: 8px;
}
  
  .countdown {
    text-align: center;
    background-color:  #1e1e1e;
    padding: 20px;
    color: #fff;
    
}

.countdown h1 {
    margin: 0;
    font-size: 48px;
    height: 70px;
}

.countdown div {
    margin-top: 20px;
    font-size: 36px;
}

.countdown p {
    margin-top: 40px;
    font-size: 18px;
}

.countdown .time-box {
    display: inline-block;
    width: 80px;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 0;
    color: #000;
}

.countdown .label {
    display: block;
    font-size: 14px;
    margin-top: 10px;
}

.quote {
    margin-top: 30px;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

* {
    text-decoration: none;
    margin: 0px;
}

.music-button {
    background-color: #4d3b30;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
}

.music-button img {
    width: 40px;
    filter: invert(100%); /* White color */
    transition: filter 0.3s ease;
}

.music-button.active {
    background-color: #fff;
}

.music-button.active img {
    filter: invert(33%) sepia(65%) saturate(653%) hue-rotate(349deg) brightness(93%) contrast(95%); /* Brown color */
}


#wedding-invitation {
    font-family: Arial, sans-serif;
    margin: 0px;
    background-color: #1e1e1e;
    text-align: center;
    color: #fff;
}


.ceremony, .reception, .rsvp, .map {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.ceremony h2, .reception h2, .rsvp h2, .map h2 {
    color: #d9534f;
}

.ceremony p, .reception p, .rsvp label, .rsvp input, .rsvp button {
    margin: 10px 0;
}

.map{
    margin: 0px;
}

.image-carousel {
    width: 100%; /* Adjust to your desired carousel width */
    overflow: hidden;
    position: relative;
    background-color: #1e1e1e;
    color: #d9534f;
    text-align: center;
}

#image-track {
    display: flex;
    animation: scrollImages 20s linear infinite;
}

.image-box {
    flex: 0 0 auto;
    width: 20%; /* 5 images, so each one is 20% */
}

.image-box img {
    width: 100%;
    height: auto;
    display: block;
    border: 2px solid #ddd;
}

@keyframes scrollImages {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.video-container {
    width: 700px; /* Sesuaikan dengan ukuran yang diinginkan */
    height: 800px; /* Sesuaikan dengan ukuran yang diinginkan */
    overflow: hidden;
}
.video-container video {
    width: 100%;
    height: 100%;
}

.video{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
background-color: #1e1e1e ; /* Warna latar belakang opsional */
}

#rsvp{
    text-align: center;
    background-color: #2a3439;
}

.detail-txt {
    margin: 10px;
    text-align: center;
  }
  label {
    font-size: 14px;
    color: #555;
  }
  
  input[type="tulisan"],
  input[type="no"],
  input[type="gmail"],
  select {
    padding: 16px;
    margin-top: 7px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
  }
  
  input[type="radio"] {
    margin-right: 7px;
  }
  
  #story {
    margin: 19px;
    display: block;
    justify-content: center;
    h3 {
      font-size: 25px;
      color: #333;
      margin-bottom: 20px;
    }
  
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: 10px 0;
      object-fit: cover;
      border: 3px solid #ddd;
    }
  
    p {
      font-size: 16px;
      color: #555;
      margin-bottom: 20px;
    }
  
    img:hover {
      transform: scale(1.05);
      transition: transform 0.3s;
    }
 }

 label {
    display: block;
    margin-bottom: 10px; /* Margin sedikit lebih besar */
    font-weight: normal; /* Mengurangi kekuatan font untuk kesan santai */
    font-size: 1em;
    color: #fff; /* Warna teks label */
  }
  
  input[type="text"],
  input[type="number"],
  input[type="email"],
  select,
  textarea {
    width: 100%;
    padding: 10px; /* Padding lebih besar */
    border: 1px solid #fff; /* Border dengan warna teks utama */
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 12px; /* Margin lebih besar */
    font-size: 1em; /* Ukuran font normal */
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Font yang lebih santai */
    background-color: #fff; /* Latar belakang putih untuk input */
    color: #808080; /* Warna teks di input */
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 10px; /* Margin sedikit lebih besar */
  }
  
  fieldset {
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #36454F  ; /* Latar belakang lebih ringan untuk fieldset */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05); /* Bayangan untuk efek tulisan tangan */
  }
  
  legend {
    font-weight: normal; /* Mengurangi kekuatan font */
    color: #fff; /* Warna teks legend */
    font-size: 1.1em;
  }
  
  button {
    background-color: #36454F; /* Warna latar belakang tombol kirim */
    color: #fff; /* Warna teks tombol */
    border: none;
    padding: 10px 20px; /* Padding lebih besar */
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Font yang lebih santai */
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Bayangan untuk efek tombol yang lebih personal */
  }
  
  button:hover {
    background-color: #36454F;
    opacity: .4; /* Warna latar belakang tombol saat hover */
  }
  
  #notification {
    margin-top: 20px;
    padding: 10px;
    background-color: #DAD4B5; /* Latar belakang notifikasi */
    color: #800000; /* Warna teks notifikasi */
    border: 1px solid #800000; /* Border dengan warna baru */
    border-radius: 4px;
    display: none; /* Sembunyikan secara default */
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Font yang lebih santai */
  }
  
  .hidden {
    display: none;
  }
  
  table, th, td {
    border:1px solid #fff;
    color: #fff;
  }

  .tabelcoy{
    background-color: #2a3439;
    text-align: center;
  }

  .love-story {
    max-width: 800px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.love-story h2 {
    text-align: center;
    font-size: 36px;
    color: #fff;
    margin-bottom: 30px;
}
.story-timeline {
    text-align: center;
    padding: 50px 0;
}

h1 {
    font-size: 2.5rem;
    color: #444;
    margin-bottom: 50px;
}

.timeline-container {
    position: relative;
    width: 80%;
    max-width: 1000px;
    margin: auto;
}

.timeline-item {
    position: relative;
    width: 50%;
    padding: 20px;
}

.timeline-item img {
    width: 100%;
    border-radius: 5px;
    margin-top: 15px;
}

.left {
    float: left;
    text-align: left;
    padding-right: 50px;
}

.right {
    float: right;
    text-align: right;
    padding-left: 50px;
}

.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.content h2 {
    font-size: 1.75rem;
    color: #f75d5d;
}

.content p {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.6;
}

/* Timeline line */
.timeline-container::before {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #f75d5d;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Dots */
.timeline-item::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: -10px;
    background-color: white;
    border: 4px solid #f75d5d;
    top: 20px;
    border-radius: 50%;
    z-index: 1;
}

.timeline-item.right::before {
    left: -10px;
    right: auto;
}

#gift-section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}

h2 {
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    align-items: center;
}

.btn:hover {
    background-color: #555;
}

.content {
    display: none;
    margin-top: 20px;
}

.content.active {
    display: block;
}

.copy-btn {
    cursor: pointer;
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.thank-you-container {
    text-align: center;
    font-family: 'Georgia', serif;
    color: #fff;
    background-color: #1e1e1e;
    padding: 50px;
    margin: 0px;
}

.thank-you-message {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-style: italic;
}

.invitation {
    font-size: 14px;
    margin-bottom: 40px;
}

.invitation p {
    margin: 5px 0;
}

.divider {
    border: none;
    border-top: 1px solid #8c8c7a;
    width: 50px;
    margin: 20px auto;
}

.design-preset {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    margin-top: 40px;
    color: #b0a89f;
}

button {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 50px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    background-color: #fff;
  }
  
  button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
  }
  
  button:hover {
    color: #fff;
  }
  
  button:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  
  button:hover:before {
    top: -30px;
    left: -30px;
  }
  
  button:active:before {
    background: #3a0ca3;
    transition: background 0s;
  }
/* Responsive untuk smartphone (max-width: 600px) */
@media (max-width: 600px) {

    /* Mengatur ukuran font untuk tampilan yang lebih kecil */
    .side-title {
        font-size: 20px;
    }

    .name {
        font-size: 24px;
    }

    .description {
        font-size: 14px;
    }

    /* Mengubah layout bride-section dan groom-section menjadi kolom */
    .bride-section, .groom-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* Ukuran gambar bride dan groom diperkecil untuk layar kecil */
    .image {
        width: 200px;
        height: 300px;
    }

    /* Countdown section */
    .countdown h1 {
        font-size: 36px;
    }

    .countdown div {
        font-size: 24px;
    }

    /* Navbar responsif */
    .navbar {
        flex-direction: column;
    }

    .navbar a {
        padding: 10px;
    }

    /* Video Container */
    .video-container {
        width: 100%;
        height: auto;
    }

    /* Image Carousel */
    .image-box {
        width: 80%;
    }

    /* Cerita Cinta Responsif */
    .container {
        width: 100%;
        padding: 10px;
    }

    .container.right, .container.left {
        left: 0;
        right: 0;
        width: 100%;
    }

    .content {
        text-align: center;
    }

    /* Gift Section */
    .gift-section input[type="text"], .gift-section textarea {
        width: 100%;
    }

    .payment-options div {
        width: 100%;
        margin-bottom: 10px;
    }
}

.music-button {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 1000; /* pastikan tombol berada di atas elemen lain */
    }


/* Responsive untuk tablet (max-width: 900px) */
@media (max-width: 900px) {

    /* Mengatur ukuran font untuk tampilan tablet */
    .side-title {
        font-size: 22px;
    }

    .name {
        font-size: 26px;
    }

    .description {
        font-size: 15px;
    }

    /* Mengubah layout bride-section dan groom-section */
    .bride-section, .groom-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* Ukuran gambar bride dan groom */
    .image {
        width: 250px;
        height: 350px;
    }

    /* Countdown section */
    .countdown h1 {
        font-size: 42px;
    }

    .countdown div {
        font-size: 30px;
    }

    /* Navbar responsif */
    .navbar {
        flex-direction: row;
        justify-content: space-around;
    }

    /* Video Container */
    .video-container {
        width: 100%;
        height: auto;
    }

    /* Image Carousel */
    .image-box {
        width: 40%;
    }

    /* Cerita Cinta Responsif */
    .container {
        width: 90%;
        padding: 15px;
    }

    .container.right, .container.left {
        left: 0;
        right: 0;
        width: 100%;
    }

    .content {
        text-align: center;
    }

    /* Gift Section */
    .gift-section input[type="text"], .gift-section textarea {
        width: 100%;
    }

    .payment-options div {
        width: 48%;
        margin-bottom: 10px;
    }
}
